* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.App {
  transition: all 0.5s ease;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ffe0af;
  background-image: linear-gradient(
      45deg,
      #ffdd88 25%,
      transparent 25%,
      transparent 75%,
      #ffdd88 75%,
      #ffdd88
    ),
    linear-gradient(
      45deg,
      #ffdd88 25%,
      transparent 25%,
      transparent 75%,
      #ffdd88 75%,
      #ffdd88
    ),
    linear-gradient(45deg, transparent, transparent 50%, #ffc87f 50%, #ffc87f);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px, 50px 0px;
  animation: scroll 5s linear infinite;
  z-index: -1;
}

@keyframes scroll {
  from {
    background-position: 0 0, 50px 50px, 50px 0;
  }
  to {
    background-position: -100px -100px, -50px -50px, -50px -100px;
  }
}

.library-active {
  margin-left: 30%;
}

h1 {
  font-size: 1rem;
}
h2 {
  color: rgb(51, 51, 51);
}
h3,
h4 {
  color: rgb(100, 100, 100);
  font-weight: 400;
}
@import "./nav";
@import "./_player";
@import "./song";
@import "./library";
